@font-face {
    font-family: Subway Circle;
    src:url(../czcionki/Subway Circle.otf);
}

#witamy{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 100px;
    color: white;
    font-family: Subway Circle;
}

html{
    background-color: darkslategray;
}